<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/CreateNoteView.css">

</head>
<body>

<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" >Home</a>

        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login</a>
        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/users/me}">My Profile</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a>
    </h3>
</div>

<div class="body-content">
    <header class="header">
        <h2 th:text="#{subtitle}">Create a new note</h2>
    </header>

    <div class="post-form">
        <form action="#" th:action="@{/notes/new}" th:object="${note}" method="post">
            <label th:text="#{note.label.title}">Title</label>
            <input type="text" th:field="*{title}" placeholder="Enter post title"/>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>


            <label th:text="#{note.label.content}">Content</label>
            <textarea th:field="*{content}" placeholder="Write your content here..." rows="6"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-message"></div>

            <input type="submit" value="Save"/>
        </form>
    </div>
</div>

<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Notes'}">Notes</small>
</footer>

</body>
</html>